<app-new-items></app-new-items>

<div class="basic-main">
    <div class="basic-main-section">
        <div class="basic-main-left-tabs">
            <div class="basic-main-tab-item" [class.active]="activeTab === 'movie'" (click)="setActiveTab('movie')">
                Фильмы
            </div>
            <div class="basic-main-tab-item" [class.active]="activeTab === 'tvSeries'"
                (click)="setActiveTab('tvSeries')">
                Сериалы
            </div>
            <div class="basic-main-tab-item" [class.active]="activeTab === 'anime'" (click)="setActiveTab('anime')">
                Аниме
            </div>
        </div>
        <div class="basic-main-right-tabs">
            <div class="basic-main-tab-item">Фильтрация</div>
        </div>
    </div>
</div>

<div class="basic-main-section-content">
    @if (isLoading) {
    <div class="basic-main-content">
        @for (i of skeletonItems; track i) {
        <div class="basic-main-poster-card skeleton">
            <div class="basic-main-poster">
                <div class="skeleton-poster-card"></div>
            </div>
            <div class="basic-main-info">
                <div class="basic-main-skeleton-title"></div>
                <div class="basic-main-skeleton-year"></div>
            </div>
        </div>
        }
    </div>
    } @else {

    @if (activeTab === 'movie') {
    <div class="basic-main-content">
        @if (paginatedMovies.length > 0) {
        @for (movie of paginatedMovies; track movie.id) {
        <div class="basic-main-poster-card" (click)="onSelectMovie(movie)">
            <div class="basic-main-poster">
                <img [src]="movie.poster">
            </div>
            <div class="basic-main-info">
                <div class="basic-main-title">{{ movie.name }}</div>
                <div class="basic-main-year">{{ movie.year }}</div>
            </div>
        </div>
        }
        } @else {
        <div class="empty-state">
            <p>Ой! Фильмы пока не найдены</p>
        </div>
        }
    </div>
    }

    @if (activeTab === 'tvSeries') {
    <div class="basic-main-content">
        @if (paginatedSeries.length > 0) {
        @for (series of paginatedSeries; track series.id) {
        <div class="basic-main-poster-card" (click)="onSelectSeries(series)">
            <div class="basic-main-poster">
                <img [src]="series.poster">
            </div>
            <div class="basic-main-info">
                <div class="basic-main-title">{{ series.name }}</div>
                <div class="basic-main-year">{{ series.year }}</div>
            </div>
        </div>
        }
        } @else {
        <div class="empty-state">
            <p>Упс! Сериалы еще не добавлены</p>
        </div>
        }
    </div>
    }

    @if (activeTab === 'anime') {
    <div class="basic-main-content">
        @if (paginatedAnime.length > 0) {
        @for (anime of paginatedAnime; track anime.id) {
        <div class="basic-main-poster-card" (click)="onSelectAnime(anime)">
            <div class="basic-main-poster">
                <img [src]="anime.poster">
            </div>
            <div class="basic-main-info">
                <div class="basic-main-title">{{ anime.name }}</div>
                <div class="basic-main-year">{{ anime.year }}</div>
            </div>
        </div>
        }
        } @else {
        <div class="empty-state">
            <p>Хмм... Аниме пока пусто</p>
        </div>
        }
    </div>
    }

    @if (totalPages > 1) {
    <div class="pagination">
        <button (click)="backPage()" [disabled]="currentPage === 1">Назад</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Вперёд</button>
    </div>
    }
    }
</div>